// GRADIENTES
header{
    background-image: linear-gradient(to bottom, aqua, transparent);
}
footer{
    background-image: linear-gradient(to top,aqua , transparent);
}
body{
    background-image: linear-gradient(to bottom, rgb(219, 219, 224), transparent);
}

